.wrapper {
    width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
}

time {
    font-size: 22px;
}

p {
    font-size: 20px;
}

.hint {
    text-align: center;
}


.opacity {
    opacity: 20%;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}